.page-catalog__title {
  margin: 30px 20px 35px 20px;
}

.page-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-catalog__list-item {
  padding: 20px;
}

@media (min-width: @tablet-width) {
  .page-catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .page-catalog__list-item {
    background-color: @white-two;
    margin-bottom: 30px;
  }

  .catalog-item__button {
    min-width: 250px;
  }

  .page-catalog__more {
    background-color: #ffffff;
    border: 1px solid @white-two;
  }
}
