.page-main__title {
  text-align: center;
  color: #ffffff;

  padding-top: 30px;
  padding-bottom: 20px;
}

.page-main__top-background {
  background-image: url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, #63a73a 305px, #ffffff 305px);
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
}

.page-main__top-image {
  margin-top: 30px;
  align-self: center;
}

.page-main__programm-button {
  margin: 0px 20px;
}
