.page-footer {
  background-color: @white-two;
  padding: 40px 0 30px;
}

.page-footer__content {
  flex-direction: column;
}

.page-footer__social {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
}

.page-footer__logo {
  align-self: center;
}

.page-footer__copyright {
  margin: 0;
  padding: 0;
  text-align: center;
}

.page-footer__social-item {
  display: block;
  margin: 0 10px;
}

///////// TABLET

@media (min-width: @tablet-width) {
  .page-footer__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 60px 0;
  }
}
