.button () {
  display: block;
  background-color: @leaf;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 0 11px 0;
  border: none;
}

.button__button {
  .button;
}

.button__default {
  .button;
  background-color: @white-two;
  color: #444444;
}
