@import "blocks/page.less";
@import "normalize.less";
@import "blocks/page-header.less";
@import "blocks/page-main.less";
@import "blocks/button.less";
@import "blocks/programm.less";
@import "blocks/advantages.less";
@import "blocks/page-footer.less";
@import "blocks/page-catalog.less";
@import "blocks/catalog-item.less";
@import "blocks/show-more.less";

@leaf: #68b738;
@white-two: #f2f2f2;
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  src: url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  src: url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

* {
  // outline: 1px solid red;
}
